# Replace value with public key that will be inserted into build's authorized keys
COREOS_USER_PUBKEY=ssh-ed25519 AAAA[...]

# ISO Build Settings
DEST_INSTALL_DEVICE=/dev/sda
POST_INSTALL_SCRIPT=post.sh

COREOS_RELEASE_STREAM=stable
COREOS_ARCH=x86_64
COREOS_PLATFORM=metal

