COREOS_USER_PUBKEY=ssh-ed25519 AAAA[...]
DEST_INSTALL_DEVICE=/dev/sda
POST_INSTALL_SCRIPT=post.sh

COREOS_RELEASE_STREAM=stable
COREOS_ARCH=x86_64
COREOS_PLATFORM=metal

K3S_SELINUX_RPM_URL=https://github.com/k3s-io/k3s-selinux/releases/download/v1.7.testing.4/k3s-selinux-1.7-4.coreos.noarch.rpm
INSTALL_TYPE=node
INSTALL_NODE_MASTER_TOKEN="K109xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
INSTALL_NODE_MASTER_URL="https://192.168.2.5:6443"
INSTALL_USER_USERNAME="core"
INSTALL_NODE_HOSTNAME=node1.example.com
INSTALL_NODE_ADDR=192.168.2.6
